<div class="avatar">
   <img src="assets/img/avatar.png" alt="Avatar">
</div>

 <div class="user-details">
  <p>
    I'm a data science enthusiast who thrives on turning data into actionable insights and impactful solutions. With a Bachelor's
    degree in Information Science from the University of Maryland and currently pursuing a Master's in Machine Learning, I'm
    continually expanding my expertise in this exciting field. I specialize in Python, SQL, and web development, and have hands-on
    experience crafting analytical models, conducting deep data analysis, and delivering insights that truly make a difference. I
    excel at transforming complex data from various sources into clear, interactive visualizations and building robust data pipelines.
    Always eager to learn and stay ahead in the fast-evolving world of data science, I enjoy collaborating with cross-functional teams
    to drive innovation and achieve outstanding results. If you're looking for someone to bring data-driven solutions and fresh ideas
    to your organization, let's connect!
  </p>
</div>

<div class="user">
  <div class="tech">
    <h2>Analyzing </h2>
  <div class="icons">
      <i class="icon fas fa-file-csv"></i>
      <i class="icon fas fa-microscope"></i>
      <i class="icon fas fa-chart-bar"></i>
    </div>
    <p>
      I've explored both structured and unstructured data across various fields, uncovering valuable business insights. I enjoy
      crafting eye-catching visualizations that reveal unexpected and intriguing patterns in the data.
    </p>
  </div>

  <div class="tech">
    <h2>Developing</h2>
  <div class="icons">
      <i class="devicon-python-plain"></i>
      <i class="devicon-git-plain"></i>
      <i class="devicon-docker-plain"></i>
    </div>
    <p>
      I'm dedicated to transforming machine learning models and data science projects into impactful solutions with real business value.
      Using industry-standard tools, I ensure smooth transitions from concept to practical application, making a tangible difference.
    </p>
  </div>
  <div class="tech">
    <h2>Collaborating</h2>
  <div class="icons">
      <i class="icon fas fa-chalkboard-teacher"></i>
      <i class="icon fas fa-pencil-alt"></i>
      <i class="icon fas fa-comments"></i>
    </div>
    <p>
     I thrive in collaborative environments, where I skillfully bring together diverse perspectives and drive productive discussions. 
     My strong communication skills help me bridge gaps and ensure smooth integration within interdisciplinary teams.
    </p>
  </div>
</div>
