  <div class="user-details">
    <h1>Featured Projects</h1>
  </div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="Breathing Visualization" src="assets/img/breathing_graph_gif.gif" width="600" height="400" loading="lazy">
    </div>
    <div class="contents-left">
      <h3>Interactive Visualization using D3.js</h3>
      <p>An engaging and interactive visualization of a person's breathing force over time, illustrating the fluctuations in force and the patterns of regularity or irregularity in their breathing rhythm, using the powerful capabilities of JavaScript and the D3.js library.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/hassan-edwan/Breathing_Data_Visualization">Github</a>
        <a class="project-link" href="assets/htmls/breathing_data_visualization.html">Check it Out</a>
      </p>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-left">
      <img alt="Chess Game Data Analysis" src="assets/img/chess.jpg" width="600" height="400" loading="lazy">
    </div>
    <div class="contents-right">
      <h3>Chess Game Data Analysis</h3>
      <p>I've conducted an in-depth analysis of chess game data spanning four years to uncover trends, performance patterns, and strategic insights. This project explores factors such as Elo ratings, time of day, and session lengths to offer actionable recommendations for enhancing game strategies and performance. Contributions and feedback are welcome!</p>
      <p align="center">
        <a class="project-link" href="assets/htmls/chess_game_analysis.html">Notebook</a>
        <a class="project-link" href="assets/htmls/chess_report.html">Analysis Report</a>
      </p>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="Weightlifting Analysis" src="assets/img/o_lifts_gif.gif" width="600" height="400" loading="lazy">
    </div>
    <div class="contents-left" style="margin: 0; top: 50%">
      <h3>Weightlifting Analysis</h3>
      <p>I created an app that tracks the path of a barbell throughout the entire range of motion of a lift by uploading a video of their attempted lift from the side profile. When multiple videos are uploaded, it allows the user to compare the bar path between the videos to ensure form consistency between the lifts attempted. The app additionally allows the user to perform a basic visual analysis of the lift and its bar path.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/hassan-edwan/olympic_barbell_movement_analysis">Check it out</a>
      </p>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-left">
      <img alt="Github Projects" src="assets/img/github_logo.webp" width="600" height="400" loading="lazy">
    </div>
    <div class="contents-right">
      <h3>Github Projects</h3>
      <p>This is my GitHub portfolio, where you can explore a diverse range of repositories that reflect my work and interests across different domains. From data science and machine learning to web development and object tracking. Explore the code and reach out with any questions or collaboration ideas.</p>
      <p align="center">
        <a class="project-link" href="https://github.com/hassan-edwan?tab=repositories">Check it out</a>
      </p>
    </div>
  </div>

  <div class="user-projects">
    <div class="images-right">
      <img alt="Other Interests" src="assets/img/dariusz-sankowski-dvK_CT1Wg78-unsplash.jpg" width="600" height="400" loading="lazy">
    </div>
    <div class="contents-left">
      <h3>Other Interests</h3>
      <p>Apart from my work in data and technology, I enjoy writing English poetry and reading Arabic poetry, with aspirations to
        write in Arabic someday. I'm also dedicated to competing in amateur Olympic weightlifting competitions and staying active
        with gym workouts and running. I am working on making an app for better tracking in the gym, which so far has been a fun exploration
        into learning some front end development skills.</p>
    </div>
  </div>

</body>
</html>
